<a href="https://colab.research.google.com/github/AsfandYar-Ktk/Decision-Trees/blob/main/Decision_Trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/dataset_traffic_accident_prediction1.csv')
print(df)

    Weather   Road_Type Time_of_Day  Traffic_Density  Speed_Limit  \
0     Rainy   City Road     Morning              1.0        100.0
1     Clear  Rural Road       Night              NaN        120.0
2     Rainy     Highway     Evening              1.0         60.0
3     Clear   City Road   Afternoon              2.0         60.0
4     Rainy     Highway     Morning              1.0        195.0
..      ...         ...         ...              ...          ...
835   Clear     Highway       Night              2.0         30.0
836   Rainy  Rural Road     Evening              2.0         60.0
837   Foggy     Highway     Evening              NaN         30.0
838   Foggy     Highway   Afternoon              2.0         60.0
839   Clear     Highway   Afternoon              1.0         60.0

     Number_of_Vehicles  Driver_Alcohol Accident_Severity      Road_Condition  \
0                   5.0             0.0               NaN                 Wet
1                   3.0             0.0          Moderate                 Wet
2                   4.0             0.0               Low                 Icy
3                   3.0             0.0               Low  Under Construction
4                  11.0             0.0               Low                 Dry
..                  ...             ...               ...                 ...
835                 4.0             0.0               Low                 Dry
836                 4.0             0.0               Low                 Dry
837                 4.0             1.0              High                 Dry
838                 3.0             0.0               Low                 Dry
839                 4.0             0.0               Low                 Dry

    Vehicle_Type  Driver_Age  Driver_Experience Road_Light_Condition  Accident
0            Car        51.0               48.0     Artificial Light       0.0
1          Truck        49.0               43.0     Artificial Light       0.0
2            Car        54.0               52.0     Artificial Light       0.0
3            Bus        34.0               31.0             Daylight       0.0
4            Car        62.0               55.0     Artificial Light       1.0
..           ...         ...                ...                  ...       ...
835          Car        23.0               15.0             Daylight       0.0
836   Motorcycle        52.0               46.0             Daylight       1.0
837          Car         NaN               34.0     Artificial Light       NaN
838          Car        25.0               19.0     Artificial Light       0.0
839   Motorcycle        29.0               21.0     Artificial Light       0.0

[840 rows x 14 columns]

# Preprocessing

For now I have removed the NaN valued rows. In future pre-process the missing values better.

In [4]:
df_copy = df.copy()

In [5]:
df_copy.Accident.value_counts()

Accident
0.0    559
1.0    239
Name: count, dtype: int64

In [6]:
df_copy['Accident'] = [0 if (x == None) else x for x in df_copy['Accident']]

Convert string values to number

In [7]:
df_copy['Weather'].value_counts()

Weather
Clear     334
Rainy     230
Foggy     107
Snowy      87
Stormy     40
Name: count, dtype: int64

In [8]:
weather_dummies = pd.get_dummies(df_copy['Weather'], prefix='Weather')
print(weather_dummies)

     Weather_Clear  Weather_Foggy  Weather_Rainy  Weather_Snowy  \
0            False          False           True          False
1             True          False          False          False
2            False          False           True          False
3             True          False          False          False
4            False          False           True          False
..             ...            ...            ...            ...
835           True          False          False          False
836          False          False           True          False
837          False           True          False          False
838          False           True          False          False
839           True          False          False          False

     Weather_Stormy
0             False
1             False
2             False
3             False
4             False
..              ...
835           False
836           False
837           False
838           False
839           False

[840 rows x 5 columns]

In [9]:
df_copy = pd.concat([df_copy, weather_dummies], axis = 1)
print(df_copy.head())

  Weather   Road_Type Time_of_Day  Traffic_Density  Speed_Limit  \
0   Rainy   City Road     Morning              1.0        100.0
1   Clear  Rural Road       Night              NaN        120.0
2   Rainy     Highway     Evening              1.0         60.0
3   Clear   City Road   Afternoon              2.0         60.0
4   Rainy     Highway     Morning              1.0        195.0

   Number_of_Vehicles  Driver_Alcohol Accident_Severity      Road_Condition  \
0                 5.0             0.0               NaN                 Wet
1                 3.0             0.0          Moderate                 Wet
2                 4.0             0.0               Low                 Icy
3                 3.0             0.0               Low  Under Construction
4                11.0             0.0               Low                 Dry

  Vehicle_Type  Driver_Age  Driver_Experience Road_Light_Condition  Accident  \
0          Car        51.0               48.0     Artificial Light       0.0
1        Truck        49.0               43.0     Artificial Light       0.0
2          Car        54.0               52.0     Artificial Light       0.0
3          Bus        34.0               31.0             Daylight       0.0
4          Car        62.0               55.0     Artificial Light       1.0

   Weather_Clear  Weather_Foggy  Weather_Rainy  Weather_Snowy  Weather_Stormy
0          False          False           True          False           False
1           True          False          False          False           False
2          False          False           True          False           False
3           True          False          False          False           False
4          False          False           True          False           False

In [10]:
df_copy = df_copy.drop('Weather', axis = 1)
print(df_copy.head())

    Road_Type Time_of_Day  Traffic_Density  Speed_Limit  Number_of_Vehicles  \
0   City Road     Morning              1.0        100.0                 5.0
1  Rural Road       Night              NaN        120.0                 3.0
2     Highway     Evening              1.0         60.0                 4.0
3   City Road   Afternoon              2.0         60.0                 3.0
4     Highway     Morning              1.0        195.0                11.0

   Driver_Alcohol Accident_Severity      Road_Condition Vehicle_Type  \
0             0.0               NaN                 Wet          Car
1             0.0          Moderate                 Wet        Truck
2             0.0               Low                 Icy          Car
3             0.0               Low  Under Construction          Bus
4             0.0               Low                 Dry          Car

   Driver_Age  Driver_Experience Road_Light_Condition  Accident  \
0        51.0               48.0     Artificial Light       0.0
1        49.0               43.0     Artificial Light       0.0
2        54.0               52.0     Artificial Light       0.0
3        34.0               31.0             Daylight       0.0
4        62.0               55.0     Artificial Light       1.0

   Weather_Clear  Weather_Foggy  Weather_Rainy  Weather_Snowy  Weather_Stormy
0          False          False           True          False           False
1           True          False          False          False           False
2          False          False           True          False           False
3           True          False          False          False           False
4          False          False           True          False           False

One hot encode Road_Type

In [11]:
df_copy['Road_Type'].value_counts()

Road_Type
Highway          402
City Road        230
Rural Road       125
Mountain Road     41
Name: count, dtype: int64

In [12]:
road_dummies = pd.get_dummies(df_copy['Road_Type'], prefix="Road")
print(road_dummies)

     Road_City Road  Road_Highway  Road_Mountain Road  Road_Rural Road
0              True         False               False            False
1             False         False               False             True
2             False          True               False            False
3              True         False               False            False
4             False          True               False            False
..              ...           ...                 ...              ...
835           False          True               False            False
836           False         False               False             True
837           False          True               False            False
838           False          True               False            False
839           False          True               False            False

[840 rows x 4 columns]

In [13]:
road_dummies = road_dummies.rename(columns={'Road_City Road': 'Road_City_Road'})

In [14]:
road_dummies = road_dummies.rename(columns={'Road_Mountain Road': 'Road_Mountain_Road'})

In [15]:
road_dummies = road_dummies.rename(columns={'Road_Rural Road': 'Road_Rural_Road'})

In [16]:
road_dummies

     Road_City_Road  Road_Highway  Road_Mountain_Road  Road_Rural_Road
0              True         False               False            False
1             False         False               False             True
2             False          True               False            False
3              True         False               False            False
4             False          True               False            False
..              ...           ...                 ...              ...
835           False          True               False            False
836           False         False               False             True
837           False          True               False            False
838           False          True               False            False
839           False          True               False            False

[840 rows x 4 columns]

In [17]:
df_copy = pd.concat([df_copy, road_dummies], axis=1)
df_copy

,Road_Type,Time_of_Day,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Road_Condition,Vehicle_Type,Driver_Age,...,Accident,Weather_Clear,Weather_Foggy,Weather_Rainy,Weather_Snowy,Weather_Stormy,Road_City_Road,Road_Highway,Road_Mountain_Road,Road_Rural_Road
0,City Road,Morning,1.0,100.0,5.0,0.0,NaN,Wet,Car,51.0,...,0.0,False,False,True,False,False,True,False,False,False
1,Rural Road,Night,NaN,120.0,3.0,0.0,Moderate,Wet,Truck,49.0,...,0.0,True,False,False,False,False,False,False,False,True
2,Highway,Evening,1.0,60.0,4.0,0.0,Low,Icy,Car,54.0,...,0.0,False,False,True,False,False,False,True,False,False
3,City Road,Afternoon,2.0,60.0,3.0,0.0,Low,Under Construction,Bus,34.0,...,0.0,True,False,False,False,False,True,False,False,False
4,Highway,Morning,1.0,195.0,11.0,0.0,Low,Dry,Car,62.0,...,1.0,False,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,Highway,Night,2.0,30.0,4.0,0.0,Low,Dry,Car,23.0,...,0.0,True,False,False,False,False,False,True,False,False
836,Rural Road,Evening,2.0,60.0,4.0,0.0,Low,Dry,Motorcycle,52.0,...,1.0,False,False,True,False,False,False,False,False,True
837,Highway,Evening,NaN,30.0,4.0,1.0,High,Dry,Car,NaN,...,NaN,False,True,False,False,False,False,True,False,False
838,Highway,Afternoon,2.0,60.0,3.0,0.0,Low,Dry,Car,25.0,...,0.0,False,True,False,False,False,False,True,False,False
839,Highway,Afternoon,1.0,60.0,4.0,0.0,Low,Dry,Motorcycle,29.0,...,0.0,True,False,False,False,False,False,True,False,False

In [18]:
df_copy = df_copy.drop('Road_Type', axis=1)
df_copy

,Time_of_Day,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Road_Condition,Vehicle_Type,Driver_Age,Driver_Experience,...,Accident,Weather_Clear,Weather_Foggy,Weather_Rainy,Weather_Snowy,Weather_Stormy,Road_City_Road,Road_Highway,Road_Mountain_Road,Road_Rural_Road
0,Morning,1.0,100.0,5.0,0.0,NaN,Wet,Car,51.0,48.0,...,0.0,False,False,True,False,False,True,False,False,False
1,Night,NaN,120.0,3.0,0.0,Moderate,Wet,Truck,49.0,43.0,...,0.0,True,False,False,False,False,False,False,False,True
2,Evening,1.0,60.0,4.0,0.0,Low,Icy,Car,54.0,52.0,...,0.0,False,False,True,False,False,False,True,False,False
3,Afternoon,2.0,60.0,3.0,0.0,Low,Under Construction,Bus,34.0,31.0,...,0.0,True,False,False,False,False,True,False,False,False
4,Morning,1.0,195.0,11.0,0.0,Low,Dry,Car,62.0,55.0,...,1.0,False,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,Night,2.0,30.0,4.0,0.0,Low,Dry,Car,23.0,15.0,...,0.0,True,False,False,False,False,False,True,False,False
836,Evening,2.0,60.0,4.0,0.0,Low,Dry,Motorcycle,52.0,46.0,...,1.0,False,False,True,False,False,False,False,False,True
837,Evening,NaN,30.0,4.0,1.0,High,Dry,Car,NaN,34.0,...,NaN,False,True,False,False,False,False,True,False,False
838,Afternoon,2.0,60.0,3.0,0.0,Low,Dry,Car,25.0,19.0,...,0.0,False,True,False,False,False,False,True,False,False
839,Afternoon,1.0,60.0,4.0,0.0,Low,Dry,Motorcycle,29.0,21.0,...,0.0,True,False,False,False,False,False,True,False,False

One hot encode Time_of_day

In [19]:
df_copy['Time_of_Day'].value_counts()

Time_of_Day
Afternoon    272
Evening      218
Morning      201
Night        107
Name: count, dtype: int64

In [20]:
time_dummies = pd.get_dummies(df_copy['Time_of_Day'], prefix='Time')
print(time_dummies)

     Time_Afternoon  Time_Evening  Time_Morning  Time_Night
0             False         False          True       False
1             False         False         False        True
2             False          True         False       False
3              True         False         False       False
4             False         False          True       False
..              ...           ...           ...         ...
835           False         False         False        True
836           False          True         False       False
837           False          True         False       False
838            True         False         False       False
839            True         False         False       False

[840 rows x 4 columns]

In [21]:
df_copy = pd.concat([df_copy, time_dummies], axis=1)

In [22]:
df_copy

,Time_of_Day,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Road_Condition,Vehicle_Type,Driver_Age,Driver_Experience,...,Weather_Snowy,Weather_Stormy,Road_City_Road,Road_Highway,Road_Mountain_Road,Road_Rural_Road,Time_Afternoon,Time_Evening,Time_Morning,Time_Night
0,Morning,1.0,100.0,5.0,0.0,NaN,Wet,Car,51.0,48.0,...,False,False,True,False,False,False,False,False,True,False
1,Night,NaN,120.0,3.0,0.0,Moderate,Wet,Truck,49.0,43.0,...,False,False,False,False,False,True,False,False,False,True
2,Evening,1.0,60.0,4.0,0.0,Low,Icy,Car,54.0,52.0,...,False,False,False,True,False,False,False,True,False,False
3,Afternoon,2.0,60.0,3.0,0.0,Low,Under Construction,Bus,34.0,31.0,...,False,False,True,False,False,False,True,False,False,False
4,Morning,1.0,195.0,11.0,0.0,Low,Dry,Car,62.0,55.0,...,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,Night,2.0,30.0,4.0,0.0,Low,Dry,Car,23.0,15.0,...,False,False,False,True,False,False,False,False,False,True
836,Evening,2.0,60.0,4.0,0.0,Low,Dry,Motorcycle,52.0,46.0,...,False,False,False,False,False,True,False,True,False,False
837,Evening,NaN,30.0,4.0,1.0,High,Dry,Car,NaN,34.0,...,False,False,False,True,False,False,False,True,False,False
838,Afternoon,2.0,60.0,3.0,0.0,Low,Dry,Car,25.0,19.0,...,False,False,False,True,False,False,True,False,False,False
839,Afternoon,1.0,60.0,4.0,0.0,Low,Dry,Motorcycle,29.0,21.0,...,False,False,False,True,False,False,True,False,False,False

In [23]:
df_copy = df_copy.drop('Time_of_Day', axis=1)
print(df_copy.head())

   Traffic_Density  Speed_Limit  Number_of_Vehicles  Driver_Alcohol  \
0              1.0        100.0                 5.0             0.0
1              NaN        120.0                 3.0             0.0
2              1.0         60.0                 4.0             0.0
3              2.0         60.0                 3.0             0.0
4              1.0        195.0                11.0             0.0

  Accident_Severity      Road_Condition Vehicle_Type  Driver_Age  \
0               NaN                 Wet          Car        51.0
1          Moderate                 Wet        Truck        49.0
2               Low                 Icy          Car        54.0
3               Low  Under Construction          Bus        34.0
4               Low                 Dry          Car        62.0

   Driver_Experience Road_Light_Condition  ...  Weather_Snowy  Weather_Stormy  \
0               48.0     Artificial Light  ...          False           False
1               43.0     Artificial Light  ...          False           False
2               52.0     Artificial Light  ...          False           False
3               31.0             Daylight  ...          False           False
4               55.0     Artificial Light  ...          False           False

   Road_City_Road  Road_Highway  Road_Mountain_Road  Road_Rural_Road  \
0            True         False               False            False
1           False         False               False             True
2           False          True               False            False
3            True         False               False            False
4           False          True               False            False

   Time_Afternoon  Time_Evening  Time_Morning  Time_Night
0           False         False          True       False
1           False         False         False        True
2           False          True         False       False
3            True         False         False       False
4           False         False          True       False

[5 rows x 24 columns]

Speed Limit

In [24]:
df_copy['Speed_Limit'].isna().sum()

42

In [55]:
df_copy_2 = df_copy.copy()
df_copy_2.Speed_Limit = df_copy_2.Speed_Limit.fillna(60)
df_copy_2.Speed_Limit

0      100.0
1      120.0
2       60.0
3       60.0
4      195.0
       ...
835     30.0
836     60.0
837     30.0
838     60.0
839     60.0
Name: Speed_Limit, Length: 840, dtype: float64

In [56]:
df_copy_2['Speed_Limit'].isna().sum()

0

In [57]:
df_copy_2.head()

,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Road_Condition,Vehicle_Type,Driver_Age,Driver_Experience,Road_Light_Condition,...,Weather_Snowy,Weather_Stormy,Road_City_Road,Road_Highway,Road_Mountain_Road,Road_Rural_Road,Time_Afternoon,Time_Evening,Time_Morning,Time_Night
0,1.0,100.0,5.0,0.0,NaN,Wet,Car,51.0,48.0,Artificial Light,...,False,False,True,False,False,False,False,False,True,False
1,NaN,120.0,3.0,0.0,Moderate,Wet,Truck,49.0,43.0,Artificial Light,...,False,False,False,False,False,True,False,False,False,True
2,1.0,60.0,4.0,0.0,Low,Icy,Car,54.0,52.0,Artificial Light,...,False,False,False,True,False,False,False,True,False,False
3,2.0,60.0,3.0,0.0,Low,Under Construction,Bus,34.0,31.0,Daylight,...,False,False,True,False,False,False,True,False,False,False
4,1.0,195.0,11.0,0.0,Low,Dry,Car,62.0,55.0,Artificial Light,...,False,False,False,True,False,False,False,False,True,False

Traffic Density

In [58]:
df_copy_2.Traffic_Density.value_counts()

Traffic_Density
1.0    307
2.0    246
0.0    245
Name: count, dtype: int64

In [60]:
df_copy_2.Traffic_Density = df_copy_2.Traffic_Density.fillna(1)

In [61]:
print(df_copy.Traffic_Density.isna().sum())
print(df_copy_2.Traffic_Density.isna().sum())

42
0

In [62]:
df_copy_2

,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Road_Condition,Vehicle_Type,Driver_Age,Driver_Experience,Road_Light_Condition,...,Weather_Snowy,Weather_Stormy,Road_City_Road,Road_Highway,Road_Mountain_Road,Road_Rural_Road,Time_Afternoon,Time_Evening,Time_Morning,Time_Night
0,1.0,100.0,5.0,0.0,NaN,Wet,Car,51.0,48.0,Artificial Light,...,False,False,True,False,False,False,False,False,True,False
1,1.0,120.0,3.0,0.0,Moderate,Wet,Truck,49.0,43.0,Artificial Light,...,False,False,False,False,False,True,False,False,False,True
2,1.0,60.0,4.0,0.0,Low,Icy,Car,54.0,52.0,Artificial Light,...,False,False,False,True,False,False,False,True,False,False
3,2.0,60.0,3.0,0.0,Low,Under Construction,Bus,34.0,31.0,Daylight,...,False,False,True,False,False,False,True,False,False,False
4,1.0,195.0,11.0,0.0,Low,Dry,Car,62.0,55.0,Artificial Light,...,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,2.0,30.0,4.0,0.0,Low,Dry,Car,23.0,15.0,Daylight,...,False,False,False,True,False,False,False,False,False,True
836,2.0,60.0,4.0,0.0,Low,Dry,Motorcycle,52.0,46.0,Daylight,...,False,False,False,False,False,True,False,True,False,False
837,1.0,30.0,4.0,1.0,High,Dry,Car,NaN,34.0,Artificial Light,...,False,False,False,True,False,False,False,True,False,False
838,2.0,60.0,3.0,0.0,Low,Dry,Car,25.0,19.0,Artificial Light,...,False,False,False,True,False,False,True,False,False,False
839,1.0,60.0,4.0,0.0,Low,Dry,Motorcycle,29.0,21.0,Artificial Light,...,False,False,False,True,False,False,True,False,False,False

No of vehicles

In [63]:
df_copy_2.Number_of_Vehicles.value_counts()

Number_of_Vehicles
3.0     163
4.0     161
5.0     154
2.0     153
1.0     144
11.0      8
10.0      5
13.0      4
14.0      4
12.0      2
Name: count, dtype: int64

In [64]:
print(df_copy_2.Number_of_Vehicles.isna().sum())
df_copy_2.Number_of_Vehicles = df_copy_2.Number_of_Vehicles.fillna(3)
print(df_copy_2.Number_of_Vehicles.isna().sum())

42
0

In [65]:
df_copy_2

,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Road_Condition,Vehicle_Type,Driver_Age,Driver_Experience,Road_Light_Condition,...,Weather_Snowy,Weather_Stormy,Road_City_Road,Road_Highway,Road_Mountain_Road,Road_Rural_Road,Time_Afternoon,Time_Evening,Time_Morning,Time_Night
0,1.0,100.0,5.0,0.0,NaN,Wet,Car,51.0,48.0,Artificial Light,...,False,False,True,False,False,False,False,False,True,False
1,1.0,120.0,3.0,0.0,Moderate,Wet,Truck,49.0,43.0,Artificial Light,...,False,False,False,False,False,True,False,False,False,True
2,1.0,60.0,4.0,0.0,Low,Icy,Car,54.0,52.0,Artificial Light,...,False,False,False,True,False,False,False,True,False,False
3,2.0,60.0,3.0,0.0,Low,Under Construction,Bus,34.0,31.0,Daylight,...,False,False,True,False,False,False,True,False,False,False
4,1.0,195.0,11.0,0.0,Low,Dry,Car,62.0,55.0,Artificial Light,...,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,2.0,30.0,4.0,0.0,Low,Dry,Car,23.0,15.0,Daylight,...,False,False,False,True,False,False,False,False,False,True
836,2.0,60.0,4.0,0.0,Low,Dry,Motorcycle,52.0,46.0,Daylight,...,False,False,False,False,False,True,False,True,False,False
837,1.0,30.0,4.0,1.0,High,Dry,Car,NaN,34.0,Artificial Light,...,False,False,False,True,False,False,False,True,False,False
838,2.0,60.0,3.0,0.0,Low,Dry,Car,25.0,19.0,Artificial Light,...,False,False,False,True,False,False,True,False,False,False
839,1.0,60.0,4.0,0.0,Low,Dry,Motorcycle,29.0,21.0,Artificial Light,...,False,False,False,True,False,False,True,False,False,False

Driver_Alcohol

In [66]:
df_copy_2.Driver_Alcohol.value_counts()

Driver_Alcohol
0.0    670
1.0    128
Name: count, dtype: int64

In [67]:
print(df_copy_2.Driver_Alcohol.isna().sum())
df_copy_2.Driver_Alcohol = df_copy_2.Driver_Alcohol.fillna(0)
print(df_copy_2.Driver_Alcohol.isna().sum())

42
0

Accident_Severity

In [68]:
df_copy_2.Accident_Severity.value_counts()

Accident_Severity
Low         478
Moderate    241
High         79
Name: count, dtype: int64

In [69]:
print(df_copy_2.Accident_Severity.isna().sum())
df_copy_2.Accident_Severity = df_copy_2.Accident_Severity.fillna("Low")
print(df_copy_2.Accident_Severity.isna().sum())

42
0

In [70]:
df_copy_2.Accident_Severity

0           Low
1      Moderate
2           Low
3           Low
4           Low
         ...
835         Low
836         Low
837        High
838         Low
839         Low
Name: Accident_Severity, Length: 840, dtype: object

In [71]:
df_copy_2.head()

,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Road_Condition,Vehicle_Type,Driver_Age,Driver_Experience,Road_Light_Condition,...,Weather_Snowy,Weather_Stormy,Road_City_Road,Road_Highway,Road_Mountain_Road,Road_Rural_Road,Time_Afternoon,Time_Evening,Time_Morning,Time_Night
0,1.0,100.0,5.0,0.0,Low,Wet,Car,51.0,48.0,Artificial Light,...,False,False,True,False,False,False,False,False,True,False
1,1.0,120.0,3.0,0.0,Moderate,Wet,Truck,49.0,43.0,Artificial Light,...,False,False,False,False,False,True,False,False,False,True
2,1.0,60.0,4.0,0.0,Low,Icy,Car,54.0,52.0,Artificial Light,...,False,False,False,True,False,False,False,True,False,False
3,2.0,60.0,3.0,0.0,Low,Under Construction,Bus,34.0,31.0,Daylight,...,False,False,True,False,False,False,True,False,False,False
4,1.0,195.0,11.0,0.0,Low,Dry,Car,62.0,55.0,Artificial Light,...,False,False,False,True,False,False,False,False,True,False

In [72]:
# prompt: in df_copy_2, for Accident_Severity, replace Low with 0, Medium with 1, High with 2

# Replace Accident_Severity values
df_copy_2['Accident_Severity'] = df_copy_2['Accident_Severity'].replace({'Low': 0, 'Moderate': 1, 'High': 2})

<ipython-input-72-e264ab8cb635>:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy_2['Accident_Severity'] = df_copy_2['Accident_Severity'].replace({'Low': 0, 'Moderate': 1, 'High': 2})

In [73]:
df_copy_2['Accident_Severity']

0      0
1      1
2      0
3      0
4      0
      ..
835    0
836    0
837    2
838    0
839    0
Name: Accident_Severity, Length: 840, dtype: int64

In [74]:
df_copy_2['Accident']

0      0.0
1      0.0
2      0.0
3      0.0
4      1.0
      ...
835    0.0
836    1.0
837    NaN
838    0.0
839    0.0
Name: Accident, Length: 840, dtype: float64

In [75]:
print(df_copy_2.isna().sum())

Traffic_Density          0
Speed_Limit              0
Number_of_Vehicles       0
Driver_Alcohol           0
Accident_Severity        0
Road_Condition          42
Vehicle_Type            42
Driver_Age              42
Driver_Experience       42
Road_Light_Condition    42
Accident                42
Weather_Clear            0
Weather_Foggy            0
Weather_Rainy            0
Weather_Snowy            0
Weather_Stormy           0
Road_City_Road           0
Road_Highway             0
Road_Mountain_Road       0
Road_Rural_Road          0
Time_Afternoon           0
Time_Evening             0
Time_Morning             0
Time_Night               0
dtype: int64

Accident

In [81]:
df_copy_2.Accident.value_counts()

Accident
0.0    559
1.0    239
Name: count, dtype: int64

In [82]:
df_copy_2.Accident = df_copy_2.Accident.fillna(0)

In [83]:
df_copy_2.Accident.value_counts()

Accident
0.0    601
1.0    239
Name: count, dtype: int64

Road Light Conditions

In [84]:
df_copy_2.Road_Light_Condition.value_counts()

Road_Light_Condition
Artificial Light    402
Daylight            320
No Light             76
Name: count, dtype: int64

In [85]:
df_copy_2.Road_Light_Condition = df_copy_2.Road_Light_Condition.fillna("Artificial Light")

In [86]:
df_copy_2.Road_Light_Condition.value_counts()

Road_Light_Condition
Artificial Light    444
Daylight            320
No Light             76
Name: count, dtype: int64

In [94]:
rlc = pd.get_dummies(df_copy_2['Road_Light_Condition'], prefix='Road_Light')
rlc = rlc.rename(columns={'Road_Light_Artificial Light': 'Road_Light_Artificial'})
rlc = rlc.rename(columns={'Road_Light_No Light': 'Road_Light_No_Light'})

print(rlc)
df_copy_2 = pd.concat([df_copy_2, rlc], axis=1)
df_copy_2 = df_copy_2.drop('Road_Light_Condition', axis=1)

     Road_Light_Artificial  Road_Light_Daylight  Road_Light_No_Light
0                     True                False                False
1                     True                False                False
2                     True                False                False
3                    False                 True                False
4                     True                False                False
..                     ...                  ...                  ...
835                  False                 True                False
836                  False                 True                False
837                   True                False                False
838                   True                False                False
839                   True                False                False

[840 rows x 3 columns]

Driver Experience

In [96]:
df_copy_2.Driver_Experience.value_counts()

Driver_Experience
41.0    26
40.0    22
53.0    21
27.0    21
54.0    20
31.0    20
55.0    20
61.0    19
25.0    19
39.0    19
26.0    19
18.0    19
24.0    19
17.0    18
43.0    17
62.0    17
37.0    17
34.0    17
60.0    17
22.0    17
57.0    17
19.0    16
52.0    16
33.0    15
51.0    15
35.0    15
30.0    14
38.0    14
45.0    14
23.0    14
36.0    14
50.0    13
44.0    13
48.0    13
42.0    12
46.0    12
14.0    11
63.0    11
15.0    11
21.0    11
49.0    10
59.0    10
13.0    10
32.0    10
29.0    10
58.0     9
20.0     9
56.0     9
64.0     9
47.0     9
28.0     9
65.0     8
67.0     7
10.0     5
66.0     5
12.0     5
16.0     4
11.0     2
9.0      2
69.0     1
Name: count, dtype: int64

In [97]:
df_copy_2.Driver_Experience = df_copy_2.Driver_Experience.fillna(41.0)

In [98]:
df_copy_2.Driver_Experience.value_counts()

Driver_Experience
41.0    68
40.0    22
53.0    21
27.0    21
54.0    20
31.0    20
55.0    20
61.0    19
25.0    19
39.0    19
26.0    19
18.0    19
24.0    19
17.0    18
43.0    17
62.0    17
37.0    17
34.0    17
60.0    17
22.0    17
57.0    17
19.0    16
52.0    16
33.0    15
51.0    15
35.0    15
30.0    14
38.0    14
45.0    14
23.0    14
36.0    14
50.0    13
44.0    13
48.0    13
42.0    12
46.0    12
14.0    11
63.0    11
15.0    11
21.0    11
49.0    10
59.0    10
13.0    10
32.0    10
29.0    10
58.0     9
20.0     9
56.0     9
64.0     9
47.0     9
28.0     9
65.0     8
67.0     7
10.0     5
66.0     5
12.0     5
16.0     4
11.0     2
9.0      2
69.0     1
Name: count, dtype: int64

Driver Age

In [100]:
df_copy_2.Driver_Age.value_counts()

Driver_Age
46.0    27
27.0    24
33.0    23
24.0    22
68.0    21
52.0    21
43.0    21
48.0    21
69.0    20
34.0    20
36.0    19
65.0    19
67.0    19
59.0    18
23.0    18
58.0    17
40.0    17
41.0    17
54.0    17
30.0    16
42.0    16
21.0    16
19.0    16
29.0    16
32.0    16
53.0    15
18.0    15
60.0    14
35.0    14
64.0    14
50.0    14
62.0    13
56.0    13
25.0    13
20.0    13
26.0    13
22.0    13
28.0    12
38.0    12
39.0    12
49.0    12
61.0    12
47.0    11
45.0    11
44.0    11
37.0    10
51.0    10
66.0    10
57.0    10
55.0     9
63.0     8
31.0     7
Name: count, dtype: int64

In [101]:
df_copy_2.Driver_Age = df_copy_2.Driver_Age.fillna(46.0)

Road_Condition

In [107]:
df_copy_2.Road_Condition.value_counts()

Road_Condition
Dry                   442
Icy                   154
Wet                   153
Under Construction     91
Name: count, dtype: int64

In [105]:
df_copy_2.Road_Condition = df_copy_2.Road_Condition.fillna("Dry")

In [114]:
rdConDummies = pd.get_dummies(df_copy_2['Road_Condition'], prefix='Road_Condition')
rdConDummies = rdConDummies.rename(columns={'Road_Condition_Under Construction': 'Road_Condition_Under_Construction'})
df_copy_2 = pd.concat([df_copy_2, rdConDummies], axis=1)
df_copy_2 = df_copy_2.drop('Road_Condition', axis=1)

In [115]:
df_copy_2.head()

,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Vehicle_Type,Driver_Age,Driver_Experience,Accident,Weather_Clear,...,Time_Evening,Time_Morning,Time_Night,Road_Light_Artificial,Road_Light_Daylight,Road_Light_No_Light,Road_Condition_Dry,Road_Condition_Icy,Road_Condition_Under_Construction,Road_Condition_Wet
0,1.0,100.0,5.0,0.0,0,Car,51.0,48.0,0.0,False,...,False,True,False,True,False,False,False,False,False,True
1,1.0,120.0,3.0,0.0,1,Truck,49.0,43.0,0.0,True,...,False,False,True,True,False,False,False,False,False,True
2,1.0,60.0,4.0,0.0,0,Car,54.0,52.0,0.0,False,...,True,False,False,True,False,False,False,True,False,False
3,2.0,60.0,3.0,0.0,0,Bus,34.0,31.0,0.0,True,...,False,False,False,False,True,False,False,False,True,False
4,1.0,195.0,11.0,0.0,0,Car,62.0,55.0,1.0,False,...,False,True,False,True,False,False,True,False,False,False

Vehicle Type

In [108]:
df_copy_2.Vehicle_Type.value_counts()

Vehicle_Type
Car           589
Truck          99
Motorcycle     86
Bus            24
Name: count, dtype: int64

In [109]:
df_copy_2.Vehicle_Type = df_copy_2.Vehicle_Type.fillna("Car")

In [118]:
vehDummies = pd.get_dummies(df_copy_2['Vehicle_Type'], prefix='Vehicle_Type_')

df_copy_2 = pd.concat([df_copy_2, vehDummies], axis=1)
df_copy_2 = df_copy_2.drop('Vehicle_Type', axis=1)

In [119]:
print(df_copy_2.isna().sum())

Traffic_Density                      0
Speed_Limit                          0
Number_of_Vehicles                   0
Driver_Alcohol                       0
Accident_Severity                    0
Driver_Age                           0
Driver_Experience                    0
Accident                             0
Weather_Clear                        0
Weather_Foggy                        0
Weather_Rainy                        0
Weather_Snowy                        0
Weather_Stormy                       0
Road_City_Road                       0
Road_Highway                         0
Road_Mountain_Road                   0
Road_Rural_Road                      0
Time_Afternoon                       0
Time_Evening                         0
Time_Morning                         0
Time_Night                           0
Road_Light_Artificial                0
Road_Light_Daylight                  0
Road_Light_No_Light                  0
Road_Condition_Dry                   0
Road_Condition_Icy                   0
Road_Condition_Under_Construction    0
Road_Condition_Wet                   0
Vehicle_Type__Bus                    0
Vehicle_Type__Car                    0
Vehicle_Type__Motorcycle             0
Vehicle_Type__Truck                  0
dtype: int64

In [121]:
print(df_copy_2.head())

   Traffic_Density  Speed_Limit  Number_of_Vehicles  Driver_Alcohol  \
0              1.0        100.0                 5.0             0.0
1              1.0        120.0                 3.0             0.0
2              1.0         60.0                 4.0             0.0
3              2.0         60.0                 3.0             0.0
4              1.0        195.0                11.0             0.0

   Accident_Severity  Driver_Age  Driver_Experience  Accident  Weather_Clear  \
0                  0        51.0               48.0       0.0          False
1                  1        49.0               43.0       0.0           True
2                  0        54.0               52.0       0.0          False
3                  0        34.0               31.0       0.0           True
4                  0        62.0               55.0       1.0          False

   Weather_Foggy  ...  Road_Light_Daylight  Road_Light_No_Light  \
0          False  ...                False                False
1          False  ...                False                False
2          False  ...                False                False
3          False  ...                 True                False
4          False  ...                False                False

   Road_Condition_Dry  Road_Condition_Icy  Road_Condition_Under_Construction  \
0               False               False                              False
1               False               False                              False
2               False                True                              False
3               False               False                               True
4                True               False                              False

   Road_Condition_Wet  Vehicle_Type__Bus  Vehicle_Type__Car  \
0                True              False               True
1                True              False              False
2               False              False               True
3               False               True              False
4               False              False               True

   Vehicle_Type__Motorcycle  Vehicle_Type__Truck
0                     False                False
1                     False                 True
2                     False                False
3                     False                False
4                     False                False

[5 rows x 32 columns]

In [134]:
df_copy_2

,Traffic_Density,Speed_Limit,Number_of_Vehicles,Driver_Alcohol,Accident_Severity,Driver_Age,Driver_Experience,Accident,Weather_Clear,Weather_Foggy,...,Road_Light_Daylight,Road_Light_No_Light,Road_Condition_Dry,Road_Condition_Icy,Road_Condition_Under_Construction,Road_Condition_Wet,Vehicle_Type__Bus,Vehicle_Type__Car,Vehicle_Type__Motorcycle,Vehicle_Type__Truck
0,1.0,100.0,5.0,0.0,0,51.0,48.0,0.0,False,False,...,False,False,False,False,False,True,False,True,False,False
1,1.0,120.0,3.0,0.0,1,49.0,43.0,0.0,True,False,...,False,False,False,False,False,True,False,False,False,True
2,1.0,60.0,4.0,0.0,0,54.0,52.0,0.0,False,False,...,False,False,False,True,False,False,False,True,False,False
3,2.0,60.0,3.0,0.0,0,34.0,31.0,0.0,True,False,...,True,False,False,False,True,False,True,False,False,False
4,1.0,195.0,11.0,0.0,0,62.0,55.0,1.0,False,False,...,False,False,True,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,2.0,30.0,4.0,0.0,0,23.0,15.0,0.0,True,False,...,True,False,True,False,False,False,False,True,False,False
836,2.0,60.0,4.0,0.0,0,52.0,46.0,1.0,False,False,...,True,False,True,False,False,False,False,False,True,False
837,1.0,30.0,4.0,1.0,2,46.0,34.0,0.0,False,True,...,False,False,True,False,False,False,False,True,False,False
838,2.0,60.0,3.0,0.0,0,25.0,19.0,0.0,False,True,...,False,False,True,False,False,False,False,True,False,False
839,1.0,60.0,4.0,0.0,0,29.0,21.0,0.0,True,False,...,False,False,True,False,False,False,False,False,True,False

Load The preprocessed CSV so you don't have to do all the above again.

In [137]:
df_copy_3 = pd.read_csv('/content/preprocessed_dataset.csv')
print(df_copy_3)

     Traffic_Density  Speed_Limit  Number_of_Vehicles  Driver_Alcohol  \
0                1.0        100.0                 5.0             0.0
1                1.0        120.0                 3.0             0.0
2                1.0         60.0                 4.0             0.0
3                2.0         60.0                 3.0             0.0
4                1.0        195.0                11.0             0.0
..               ...          ...                 ...             ...
835              2.0         30.0                 4.0             0.0
836              2.0         60.0                 4.0             0.0
837              1.0         30.0                 4.0             1.0
838              2.0         60.0                 3.0             0.0
839              1.0         60.0                 4.0             0.0

     Accident_Severity  Driver_Age  Driver_Experience  Accident  \
0                    0        51.0               48.0       0.0
1                    1        49.0               43.0       0.0
2                    0        54.0               52.0       0.0
3                    0        34.0               31.0       0.0
4                    0        62.0               55.0       1.0
..                 ...         ...                ...       ...
835                  0        23.0               15.0       0.0
836                  0        52.0               46.0       1.0
837                  2        46.0               34.0       0.0
838                  0        25.0               19.0       0.0
839                  0        29.0               21.0       0.0

     Weather_Clear  Weather_Foggy  ...  Road_Light_Daylight  \
0            False          False  ...                False
1             True          False  ...                False
2            False          False  ...                False
3             True          False  ...                 True
4            False          False  ...                False
..             ...            ...  ...                  ...
835           True          False  ...                 True
836          False          False  ...                 True
837          False           True  ...                False
838          False           True  ...                False
839           True          False  ...                False

     Road_Light_No_Light  Road_Condition_Dry  Road_Condition_Icy  \
0                  False               False               False
1                  False               False               False
2                  False               False                True
3                  False               False               False
4                  False                True               False
..                   ...                 ...                 ...
835                False                True               False
836                False                True               False
837                False                True               False
838                False                True               False
839                False                True               False

     Road_Condition_Under_Construction  Road_Condition_Wet  Vehicle_Type__Bus  \
0                                False                True              False
1                                False                True              False
2                                False               False              False
3                                 True               False               True
4                                False               False              False
..                                 ...                 ...                ...
835                              False               False              False
836                              False               False              False
837                              False               False              False
838                              False               False              False
839                              False               False              False

     Vehicle_Type__Car  Vehicle_Type__Motorcycle  Vehicle_Type__Truck
0                 True                     False                False
1                False                     False                 True
2                 True                     False                False
3                False                     False                False
4                 True                     False                False
..                 ...                       ...                  ...
835               True                     False                False
836              False                      True                False
837               True                     False                False
838               True                     False                False
839              False                      True                False

[840 rows x 32 columns]

X and Y sets

In [138]:
y = df_copy_3['Accident']
X = df_copy_3.drop('Accident', axis=1)

In [144]:
X.replace({False: 0, True:1}, inplace=True)

<ipython-input-144-2f9010af1025>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X.replace({False: 0, True:1}, inplace=True)

In [145]:
X, y

(     Traffic_Density  Speed_Limit  Number_of_Vehicles  Driver_Alcohol  \
 0                1.0        100.0                 5.0             0.0
 1                1.0        120.0                 3.0             0.0
 2                1.0         60.0                 4.0             0.0
 3                2.0         60.0                 3.0             0.0
 4                1.0        195.0                11.0             0.0
 ..               ...          ...                 ...             ...
 835              2.0         30.0                 4.0             0.0
 836              2.0         60.0                 4.0             0.0
 837              1.0         30.0                 4.0             1.0
 838              2.0         60.0                 3.0             0.0
 839              1.0         60.0                 4.0             0.0

      Accident_Severity  Driver_Age  Driver_Experience  Weather_Clear  \
 0                    0        51.0               48.0              0
 1                    1        49.0               43.0              1
 2                    0        54.0               52.0              0
 3                    0        34.0               31.0              1
 4                    0        62.0               55.0              0
 ..                 ...         ...                ...            ...
 835                  0        23.0               15.0              1
 836                  0        52.0               46.0              0
 837                  2        46.0               34.0              0
 838                  0        25.0               19.0              0
 839                  0        29.0               21.0              1

      Weather_Foggy  Weather_Rainy  ...  Road_Light_Daylight  \
 0                0              1  ...                    0
 1                0              0  ...                    0
 2                0              1  ...                    0
 3                0              0  ...                    1
 4                0              1  ...                    0
 ..             ...            ...  ...                  ...
 835              0              0  ...                    1
 836              0              1  ...                    1
 837              1              0  ...                    0
 838              1              0  ...                    0
 839              0              0  ...                    0

      Road_Light_No_Light  Road_Condition_Dry  Road_Condition_Icy  \
 0                      0                   0                   0
 1                      0                   0                   0
 2                      0                   0                   1
 3                      0                   0                   0
 4                      0                   1                   0
 ..                   ...                 ...                 ...
 835                    0                   1                   0
 836                    0                   1                   0
 837                    0                   1                   0
 838                    0                   1                   0
 839                    0                   1                   0

      Road_Condition_Under_Construction  Road_Condition_Wet  Vehicle_Type__Bus  \
 0                                    0                   1                  0
 1                                    0                   1                  0
 2                                    0                   0                  0
 3                                    1                   0                  1
 4                                    0                   0                  0
 ..                                 ...                 ...                ...
 835                                  0                   0                  0
 836                                  0                   0                  0
 837                                  0                   0                  0
 838                                  0                   0                  0
 839                                  0                   0                  0

      Vehicle_Type__Car  Vehicle_Type__Motorcycle  Vehicle_Type__Truck
 0                    1                         0                    0
 1                    0                         0                    1
 2                    1                         0                    0
 3                    0                         0                    0
 4                    1                         0                    0
 ..                 ...                       ...                  ...
 835                  1                         0                    0
 836                  0                         1                    0
 837                  1                         0                    0
 838                  1                         0                    0
 839                  0                         1                    0

 [840 rows x 31 columns],
 0      0.0
 1      0.0
 2      0.0
 3      0.0
 4      1.0
       ...
 835    0.0
 836    1.0
 837    0.0
 838    0.0
 839    0.0
 Name: Accident, Length: 840, dtype: float64)

Normalization

In [153]:
# prompt: Normalize the values for
# Traffic_Density, Speed_Limit, Number_of_Vehicles, Accident_Severity, Driver_Age, Driver_Experience

from sklearn.preprocessing import MinMaxScaler

# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Select the columns to normalize
columns_to_normalize = ['Traffic_Density', 'Speed_Limit', 'Number_of_Vehicles', 'Accident_Severity', 'Driver_Age', 'Driver_Experience']

# Fit the scaler to the selected columns and transform the data
X[columns_to_normalize] = scaler.fit_transform(X[columns_to_normalize])

# Print the normalized data
print(X.head())

   Traffic_Density  Speed_Limit  Number_of_Vehicles  Driver_Alcohol  \
0              0.5     0.382514            0.307692             0.0
1              0.5     0.491803            0.153846             0.0
2              0.5     0.163934            0.230769             0.0
3              1.0     0.163934            0.153846             0.0
4              0.5     0.901639            0.769231             0.0

   Accident_Severity  Driver_Age  Driver_Experience  Weather_Clear  \
0                0.0    0.647059           0.650000              0
1                0.5    0.607843           0.566667              1
2                0.0    0.705882           0.716667              0
3                0.0    0.313725           0.366667              1
4                0.0    0.862745           0.766667              0

   Weather_Foggy  Weather_Rainy  ...  Road_Light_Daylight  \
0              0              1  ...                    0
1              0              0  ...                    0
2              0              1  ...                    0
3              0              0  ...                    1
4              0              1  ...                    0

   Road_Light_No_Light  Road_Condition_Dry  Road_Condition_Icy  \
0                    0                   0                   0
1                    0                   0                   0
2                    0                   0                   1
3                    0                   0                   0
4                    0                   1                   0

   Road_Condition_Under_Construction  Road_Condition_Wet  Vehicle_Type__Bus  \
0                                  0                   1                  0
1                                  0                   1                  0
2                                  0                   0                  0
3                                  1                   0                  1
4                                  0                   0                  0

   Vehicle_Type__Car  Vehicle_Type__Motorcycle  Vehicle_Type__Truck
0                  1                         0                    0
1                  0                         0                    1
2                  1                         0                    0
3                  0                         0                    0
4                  1                         0                    0

[5 rows x 31 columns]

In [155]:
X.Driver_Alcohol = X.Driver_Alcohol.astype(int)

In [158]:
y = y.astype(int)

In [159]:
print(X)
print(y)

     Traffic_Density  Speed_Limit  Number_of_Vehicles  Driver_Alcohol  \
0                0.5     0.382514            0.307692               0
1                0.5     0.491803            0.153846               0
2                0.5     0.163934            0.230769               0
3                1.0     0.163934            0.153846               0
4                0.5     0.901639            0.769231               0
..               ...          ...                 ...             ...
835              1.0     0.000000            0.230769               0
836              1.0     0.163934            0.230769               0
837              0.5     0.000000            0.230769               1
838              1.0     0.163934            0.153846               0
839              0.5     0.163934            0.230769               0

     Accident_Severity  Driver_Age  Driver_Experience  Weather_Clear  \
0                  0.0    0.647059           0.650000              0
1                  0.5    0.607843           0.566667              1
2                  0.0    0.705882           0.716667              0
3                  0.0    0.313725           0.366667              1
4                  0.0    0.862745           0.766667              0
..                 ...         ...                ...            ...
835                0.0    0.098039           0.100000              1
836                0.0    0.666667           0.616667              0
837                1.0    0.549020           0.416667              0
838                0.0    0.137255           0.166667              0
839                0.0    0.215686           0.200000              1

     Weather_Foggy  Weather_Rainy  ...  Road_Light_Daylight  \
0                0              1  ...                    0
1                0              0  ...                    0
2                0              1  ...                    0
3                0              0  ...                    1
4                0              1  ...                    0
..             ...            ...  ...                  ...
835              0              0  ...                    1
836              0              1  ...                    1
837              1              0  ...                    0
838              1              0  ...                    0
839              0              0  ...                    0

     Road_Light_No_Light  Road_Condition_Dry  Road_Condition_Icy  \
0                      0                   0                   0
1                      0                   0                   0
2                      0                   0                   1
3                      0                   0                   0
4                      0                   1                   0
..                   ...                 ...                 ...
835                    0                   1                   0
836                    0                   1                   0
837                    0                   1                   0
838                    0                   1                   0
839                    0                   1                   0

     Road_Condition_Under_Construction  Road_Condition_Wet  Vehicle_Type__Bus  \
0                                    0                   1                  0
1                                    0                   1                  0
2                                    0                   0                  0
3                                    1                   0                  1
4                                    0                   0                  0
..                                 ...                 ...                ...
835                                  0                   0                  0
836                                  0                   0                  0
837                                  0                   0                  0
838                                  0                   0                  0
839                                  0                   0                  0

     Vehicle_Type__Car  Vehicle_Type__Motorcycle  Vehicle_Type__Truck
0                    1                         0                    0
1                    0                         0                    1
2                    1                         0                    0
3                    0                         0                    0
4                    1                         0                    0
..                 ...                       ...                  ...
835                  1                         0                    0
836                  0                         1                    0
837                  1                         0                    0
838                  1                         0                    0
839                  0                         1                    0

[840 rows x 31 columns]
0      0
1      0
2      0
3      0
4      1
      ..
835    0
836    1
837    0
838    0
839    0
Name: Accident, Length: 840, dtype: int64

In [160]:
y.value_counts()

Accident
0    601
1    239
Name: count, dtype: int64

# Decision Trees From Scratch